.greeting {
  width: 100%;
  height: calc(100vh - 112px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    display: flex;
    margin: auto;
    padding: 0;
    color: rgb(79, 79, 79);
    font-family: Roboto;
    font-size: 46px;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: 0.17px;
    text-align: center;
  }
}
